@import "tailwindcss";

@font-face {
  font-family: "Aceh";
  src: url("./assets/fonts/AcehSoft-Regular.ttf");
}
@font-face {
  font-family: "Aceh-SemiBold";
  src: url("./assets/fonts/AcehSoft-SemiBold.ttf");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: darkcyan;
}

body {
  font-family: "Aceh", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

p {
  font-size: 1.1em;
  line-height: 1.2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@theme {
  --color-light-gray: #f8f8f8;
  --color-accent-light: #dff5b2;
  --color-primary: #61cdab;
  --color-dark-primary: #276e61;
  --color-soft-pink: #f3d1ed;
  --color-pastel-purple: #ecc4e6;
  --font-primary: "Aceh", sans-serif;
  --font-primary-semibold: "Aceh-SemiBold", sans-serif;
}

@layer components {
  .main-banner {
    @apply relative  bg-light-gray m-2 sm:m-5 rounded-4xl overflow-hidden h-[70%] sm:h-130 lg:h-168 pb-10  z-1;
  }
  .input {
    @apply bg-light-gray rounded-full px-4 py-3 w-full mb-2 focus:ring-2 focus:ring-pastel-purple outline-none;
  }
  .error-text {
    @apply text-red-400 font-sans text-xs mb-2;
  }
  .button-submit {
    @apply bg-accent-light font-primary-semibold py-3 px-2 rounded-full mt-1 shadow hover:cursor-pointer;
  }
  .pill {
    @apply rounded-full px-2 py-1 sm:px-5 sm:py-3 md:px-6 md:py-4 lg:px-8 lg:py-5 text-xs  sm:text-lg md:text-2xl lg:text-3xl bg-white text-dark-primary font-primary-semibold max-w-fit;
  }
  .button-pill {
    @apply py-5 px-6 sm:py-3 sm:px-5 md:py-4 md:px-6 lg:py-7 lg:px-10 text-xl sm:text-lg md:text-2xl lg:text-4xl bg-accent-light font-primary-semibold rounded-full max-w-fit shadow hover:cursor-pointer;
  }
  .button-pill-small {
    @apply py-2 px-6 sm:py-3 sm:px-5 md:py-4 md:px-6 lg:py-7 lg:px-10 text-xl sm:text-lg md:text-2xl lg:text-4xl bg-accent-light font-primary-semibold rounded-full max-w-fit shadow hover:cursor-pointer;
  }
  .menu-text {
    @apply pr-2 text-5xl mb-7 text-right font-sans font-semibold text-white hover:cursor-pointer;
  }
  .gray-patch-1 {
    @apply bg-light-gray absolute h-[12%] w-[25%] bottom-[33%] left-[15%] sm:bottom-[28%] lg:bottom-[16%] lg:w-[28%] lg:h-[20%]  -rotate-6 rounded-full;
  }
  .gray-patch-2 {
    @apply bg-light-gray absolute h-[10%] w-[20%] top-[30%]  right-[26%] sm:top-[32%] md:top-[35%] -rotate-25 sm:-rotate-30 rounded-full z-1 lg:hidden;
  }
  .category {
    @apply mr-3 text-dark-primary outline outline-dark-primary rounded-full px-3 py-1 hover:cursor-pointer;
  }
  .category-selected {
    @apply mr-3 text-white bg-primary outline outline-primary rounded-full px-3 py-1 hover:cursor-pointer;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .desktop {
    @apply hidden sm:flex;
  }
  .mobile {
    @apply sm:hidden;
  }
}
